[submodule ".config/termite-style"]
	path = .config/termite-style
	url = git@github.com:adi1090x/termite-style.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:Oasixer/nvim.git
[submodule "i3-layout-manager"]
	path = .config/i3-layout-manager
	url = git@github.com:Oasixer/i3-layout-manager.git
[submodule ".config/zsh-plugins/zsh-autocomplete"]
	path = .config/zsh-plugins/zsh-autocomplete
	url = git@github.com:marlonrichert/zsh-autocomplete.git
	branch = dev
[submodule ".config/zsh-plugins/zsh-autosuggestions"]
	path = .config/zsh-plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".config/zsh-plugins/zsh-syntax-highlighting"]
	path = .config/zsh-plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
