# Whitelist pattern - ignore all subdirectories first
*/

# Now whitelist specific subdirectories

#i3
!i3/

#nvim
!nvim/

#polybar
!polybar/

#termite
!termite/

#termite-style
!termite-style/

#eduroam
!eduroam/

#rofi
!rofi/

#vimium (chrome extension)
!vimium/

# i3 layout manager (submodule)
!i3-layout-manager/

!zsh-plugins/zsh-autocomplete/
!zsh-plugins/zsh-autosuggestions/
!zsh-plugins/zsh-syntax-highlighting/
!zsh-plugins/zsh-completions
